<div class="main-sidebar">
    <!-- Inner sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li ui-sref-active="active"><a ui-sref="app.home"><span>Home Page</span></a></li>
            <li ui-sref-active="active"><a ui-sref="app.performers"><span>Performers</span></a></li>
            <li ui-sref-active="active"><a ui-sref="app.news"><span>News</span></a></li>
            <li ui-sref-active="active"><a ui-sref="app.about"><span>About</span></a></li>
        </ul><!-- /.sidebar-menu -->

    </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->
